// 颜色定义规范
$bg_color = #F5F5F5
$blue_color = #609ef7
$green_color = #0fc37c
$orange_color = #ff8800
$red_color = #fd545c
$font_color_3 = #333
$font_color_6 = #666
$font_color_9 = #999
$opacity_common = 0.5
$opacity_bgcolor = #F5F5F5
